.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.card {
  border: 1px solid #cbced2;
  border-radius: 6px;
  margin: 10px;
  padding: 40px;
}
.card-details {
  width: 50%;
}
.heading {
  color: #326a98;
}
.desc {
  color: #64748b;
}
.button {
  height: 30px;
  width: 100px;
  border: 1px solid #326a98;
  color: #326a98;
  background-color: #ffffff;
  border-radius: 8px;
}
